<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
<!-- Spring MVC -->
<servlet>
        <servlet-name>com.milbot.web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

</servlet>
<servlet-mapping>
        <servlet-name>com.milbot.web</servlet-name>
        <url-pattern>*.do</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>remoteapi</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

</servlet>
<servlet-mapping>
        <servlet-name>remoteapi</servlet-name>
        <url-pattern>/remote_api</url-pattern>
</servlet-mapping>

  <!-- Default Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.milbot.web.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/com_milbot_web/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Com_milbot_web.html</welcome-file>
  </welcome-file-list>

</web-app>
