<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="2.2.1" package="com.milbot.bot"
  xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <supports-screens
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:anyDensity="true" />
    
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:persistent="false">
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.milbot.bot.BotActivity" android:process="com.milbot.bot" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.milbot.bot.NotificationMsg" />
        <!-- <activity android:theme="@android:style/Theme.Translucent" android:name="com.ifreestudio.webgame.BrowActivity" android:screenOrientation="landscape" />
        <activity android:name="com.tapjoy.TJCOffersWebView" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tapjoy.TapjoyFeaturedAppWebView" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tapjoy.TapjoyVideoView" android:configChanges="keyboardHidden|orientation" /> -->
    </application>
    
</manifest>
